
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
		<link rel="icon" href="favicon.ico">
		<title>ACM Project</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet"> -->


		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-table-expandable.css') }}" rel="stylesheet"> -->

		<style type="text/css">
			.region > li, .continent > li {
				padding-left: 20px;
			}
			.panel {
				margin-bottom: 5px;
			}	
			input[type='checkbox'] {
				transform: scale(1.2, 1.2);
			}
			.borderless td, .borderless th {
				border: none;
			}
			img {
				display: block;
				margin: auto;
				width: 60%;
			}
			/*tr {
				cursor: pointer;
			}*/
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ACM Project</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/bulletin">Bulletin</a></li>
						<li class="active"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content -->
	<div class="container">

		<!-- Introduction Row -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">About</h1>
				<p>This is a website.</p>
			</div>
		</div>

		<!-- Team Members Row -->
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Team</h2>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<img class="img-circle img-responsive img-center" src="{{ url_for('static', filename='img/pushpendra_singh.jpg') }}" alt="">
				<h3>Dr. Pushpendra Singh
					<small>Project Mentor</small>
				</h3>
				<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<img class="img-circle img-responsive img-center" src="{{ url_for('static', filename='img/swapnil_sharma.jpg') }}" alt="">
				<h3>Swapnil Sharma
					<small>Website Developer</small>
				</h3>
				<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
			</div>
		</div>

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; ACM Website 2017</p>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</footer>
	</div>
	<!-- /.container -->
	</body>
</html>