
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
		<link rel="icon" href="favicon.ico">
		<title>ACM Project</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet"> -->


		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-table-expandable.css') }}" rel="stylesheet"> -->

		<style type="text/css">
			.region > li, .continent > li {
				padding-left: 20px;
			}
			.panel {
				margin-bottom: 5px;
			}	
			input[type='checkbox'] {
				transform: scale(1.2, 1.2);
			}
			.borderless td, .borderless th {
				border: none;
			}
			/*tr {
				cursor: pointer;
			}*/
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ACM Project</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/bulletin">Bulletin</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 main">
					<h2>Latest Updates</h2><hr/>
					<div class="bulletin"></div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
		<script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
		
		<script type="text/javascript">
			function translateNameToDBLP (name) {
				// Ex: "Emery D. Berger" -> "http://dblp.uni-trier.de/pers/hd/b/Berger:Emery_D="
				// First, replace spaces and non-ASCII characters (not complete).
				// Known issue: does not properly handle suffixes like Jr., III, etc.
				name = name.replace(/'|\-|\./g, "=");
				//	name = name.replace(/\-/g, "=");
				//	name = name.replace(/\./g, "=");
				name = name.replace(/Á/g, "=Aacute=");
				name = name.replace(/á/g, "=aacute=");
				name = name.replace(/è/g, "=egrave=");
				name = name.replace(/é/g, "=eacute=");
				name = name.replace(/ï/g, "=iuml=");
				name = name.replace(/ó/g, "=oacute=");
				name = name.replace(/ç/g, "=ccedil=");
				name = name.replace(/ä/g, "=auml=");
				name = name.replace(/ö/g, "=ouml=");
				name = name.replace(/ø/g, "=oslash=");
				name = name.replace(/Ö/g, "=Ouml=");
				name = name.replace(/ü/g, "=uuml=");
				var splitName = name.split(" ");
				var lastName = splitName[splitName.length - 1];
				var disambiguation = "";
				if (parseInt(lastName) > 0) {
					// this was a disambiguation entry; go back.
					disambiguation = lastName;
					splitName.pop();
					lastName = splitName[splitName.length - 1] + "_" + disambiguation;
				}
				splitName.pop();
				var newName = splitName.join(" ");
				newName = newName.replace(/\s/g, "_");
				newName = newName.replace(/\-/g, "=");
				var str = "http://dblp.uni-trier.de/pers/xx";
				var lastInitial = lastName[0].toLowerCase();
				str += "/" + lastInitial + "/" + lastName + ":" + newName + ".xml";
				return str;
			};
			function setHeader(xhr) {
				xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
			}

			function getPaperDOI(name, title, conf, institution) {
				$.ajax({	
					url: "http://dblp.org/search/publ/api",
					type: "GET",
					data: {
						"q": name.split(" ").join("+"),
						"h": 1000,
						"format": "jsonp"
					},
					crossDomain: true,
					dataType: "jsonp",
					success: function(response) {
						var papers = response['result']['hits']['hit'];
						for(var i = 0; i < papers.length; i++) {
							var info = papers[i]['info'];
							if(info['title'] == title) {
								var string = "";
								var key = info['key'];
								var paperURL = "http://dblp.org/rec/" + key;
								var authors = info['authors']['author'].join(", ");
								string += "<b>Authors:</b> " + authors + "<br/>";
								string += "<b>Paper Title:</b> <a href=\"" + paperURL + "\" target=\"_blank\">" + title + "</a><br/>";
								string += "<b>Conference:</b> " + conf + "<br/>";
								string += "<b>Institution:</b> " + institution + "<br/>";
								string += "<hr/>";
								$(".bulletin").append(string);
							}
						}
					},
					error: function(err) {
						alert("Error: " +err.responseText);
					},
					beforeSend: setHeader
				});
			}
			$(document).ready(function() {
				var string = "";
				var bulletinArticlesURL = "{{ url_for('static', filename='json/bulletin-articles.json') }}";
				$.getJSON(bulletinArticlesURL, function(data) {
					var k = 2;
					for(var i = data.length-1; i >= data.length-k; i--) {
						var paperURL = "";
						var authors = [];
						getPaperDOI(data[i].name, data[i].title, data[i].conf, data[i].institution);
					}
					$(".bulletin").html(string);
				});
			});
		</script>

		<script src="{{ url_for('static', filename='js/bootstrap-table-expandable.js') }}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
		<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script> -->
	</body>
</html>