
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>
		<link rel="icon" href="favicon.ico">
		<title>ACM Project</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet"> -->


		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
		<!-- <link href="{{ url_for('static', filename='css/bootstrap-table-expandable.css') }}" rel="stylesheet"> -->

		<style type="text/css">
			.region > li, .continent > li {
				padding-left: 20px;
			}
			.panel {
				margin-bottom: 5px;
			}	
			input[type='checkbox'] {
				transform: scale(1.2, 1.2);
			}
			.borderless td, .borderless th {
				border: none;
			}
			/*tr {
				cursor: pointer;
			}*/
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ACM Project</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/bulletin">Bulletin</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-3 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#"><input type="checkbox" name="select_region"/ > Select area(s)</a></li>
						<span class="region">Loading...</span>
						
						<li class="active" style="display: none;"><a href="#"><input type="checkbox" name="select_continent"> Select continent(s)</a></li>
						<span class="continent" style="display: none;">Loading...</span>
						
						<li></li>
					</ul>
				</div>

				<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
					<div class="result_institutions"></div>
					<div class="result_persons"></div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
		<script src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
		<script>
			var region_url = "{{ url_for('static', filename='csv/area.csv') }}";
			var region_result = {};
			Papa.parse(region_url, {
				download: true,
				header: true,
				skipEmptyLines: true,
				complete: function(result) {
					region_result = result['data'];
					// console.log(region_result);
					$(".region").html("");
					for(var i = 0; i < region_result.length; i++) {
						if(region_result[i]['area_id'] != ""/* && region_result[i]['area_name'] != ""*/)
							$(".region").append("<li><input type=\"checkbox\" name=\"region\" value=\"" + region_result[i]['area_id'] + "\" > " + region_result[i]['area_name'] + " </li>");
					}
				}
			});

			var continent_result = [{'id':'asia','name': 'Asia'}, {'id':'europe','name': 'Europe'}, {'id':'australasia','name': 'Australia'}, {'id':'canada','name': 'Canada'}, {'id':'southamerica','name': 'South America'}, {'id':'america','name': 'North America'}];

			var institution_url = "{{ url_for('static', filename='csv/country-info.csv') }}";
			var institution_result = {};
			Papa.parse(institution_url, {
				download: true,
				header: true,
				skipEmptyLines: true,
				complete: function(result) {
					institution_result = result['data'];
					// console.log(institution_result);
					for(var i = 0; i < continent_result.length; i++) {
						if(continent_result[i]['area_id'] != ""/* && region_result[i]['area_name'] != ""*/)
							$(".continent").append("<li><input type=\"checkbox\" name=\"continent\" value=\"" + continent_result[i]['id'] + "\" > " + continent_result[i]['name'] + " </li>");
					}
				}
			});

			var homepages_url = "{{ url_for('static', filename='csv/homepages.csv') }}";
			var homepages_result = {};
			Papa.parse(homepages_url, {
				download: true,
				header: true,
				skipEmptyLines: true,
				complete: function(result) {
					homepages_result = result['data'];
				}
			});

			var generatedAuthorInfo = "{{ url_for('static', filename='csv/generated-author-info.csv') }}";
			var person = {};
			Papa.parse(generatedAuthorInfo, {
				download: true,
				header: true,
				skipEmptyLines: true,
				complete: function(result) {
					person = result['data'];
					// console.log(person);
				}
			});
		</script>
		<script src="{{ url_for('static', filename='js/website-js-code-2.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-table-expandable.js') }}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
	</body>
</html>